{% import 'partials/navigation.twig' as nav %}
<!doctype html>
<html>
{% include 'partials/head.twig' %}

<body class="page">
{% include 'partials/topbar.twig' %}
<main class="Page">
    <h1 class="title">{{ title }}</h1>
    <div class="content" id="content">
        {{ contents }}
        <ul class="CollectionIndex">
            {% for link in metadata.collections[indexFor] %}
            <li class="item">
                <a href="/{{ link.path }}">
                    <h4>{{ link.title }}</h4>
                    <p>{{ link.description }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if headings %}
    <aside class="Sidebar" data-sticky-container>
        <div class="sticky" data-sticky data-margin-top="0" data-anchor="content">
            <h3>Navigation</h3>
            {{ nav.heading_menu(headings, false) }}
        </div>
    </aside>
    {% endif %}
</main>
{% include 'partials/footer.twig' %}
{% include 'partials/foot.twig' %}
</body>
</html>