{% import _self as myself  %}
{% macro heading_label(heading) %}
    <a href="#{{ heading.id }}">
        <span class="level-{{ heading.tag }}">{{ heading.text }}</span>
    </a>
{% endmacro %}
{% macro heading_menu(headings, nested) %}
    {% import _self as nav %}
    <ul class="menu vertical {{ nested ? 'nested' : '' }}">
        {% for heading in headings %}
            <li>{{ nav.heading_label(heading) }}</li>
        {% endfor %}
    </ul>
{% endmacro %}
{% macro collection_menu(collection, headings, current_path) %}
    {% import _self as nav %}
    <ul class="menu vertical">
        {% for link in collection %}
            {% if link.path == current_path %}
                <li class="active">
                    <a href="/{{ link.path }}">{{ link.title }}</a>
                    {% if headings %}{{ nav.heading_menu(headings, true) }}{% endif %}
                </li>
            {% else %}
                <li><a href="/{{ link.path }}">{{ link.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}